:host{
    .container {
        position: absolute;
        right: 450px;
        margin: 20px;
        max-width: 300px;
        padding: 16px;
        background-color: white;
        margin: 20px;
    }
    
    button {
        background-color:rgb(247, 184, 49);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
        
    button:hover {
        opacity: 0.8;
    }
    
    .example-container {
        display: flex;
        flex-direction: column;
      }
      
      .example-container > * {
        width: 100%;
      }
}